page-login {
  .login_head{
    text-align: center;
    margin: 2rem;
    img{
      width: 6rem;
    }
  }
  .form_box{
    padding: 0 2rem;
  }
  .login_btn{
    // margin-top: 1rem;
  }
  .privacyPolicy{
    margin:1rem 0;
    color:#2ac6f7;
  }
  .login_input{
    border-bottom: 1px solid #ddd;
    padding-left: 3rem;
    position: relative;
    .text-input{
      margin: 20px 8px 20px 0;
    }
    .login_input_icon{
      position: absolute;
      top: 50%;
      left: 1rem;
      height: 2rem;
      line-height: 2rem;
      margin-top: -1rem;
      color: $blue-color;
      font-size: 1.5em;
    }
  }
  .register_box{
    overflow: hidden;
    margin-top: 1rem;
    span{
      float: left;
      width: 50%;
      color: $blue-color;
      padding-left: 2rem;
    }
    span:last-child{
      text-align: right;
      padding-right: 2rem;
    }
  }
  .header .button-inner .icon{
    font-size: 3rem;
  }
}
