<!--
  Generated template for the ShopDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="app_nav" color="primary">
    <ion-title *ngIf="StoreItem">{{StoreItem.storeName}}</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only tappable  (click)="gotoMsg()">
        <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- 导航部分 -->
  <div class="nav-section" *ngIf="sectionType == 'nav'">
    <div class="shop-info">
      <ion-card *ngIf="StoreItem">
        <div class="img_div" [style.backgroundImage]="'url('+hostUrl+StoreItem.imgs+')'"></div>
        <ion-item>
          <ion-avatar class="icon-log" item-start>
            <img [src]="hostUrl+StoreItem.logo">
          </ion-avatar>
          <h2>{{StoreItem.storeName}}</h2>
        </ion-item>
        <ion-item class="one-item no-elipsis">
          <ion-icon name="pin" item-start large></ion-icon>
          <p>{{StoreItem.contactAddr}}</p>
        </ion-item>
        <ion-item class="one-item">
          <ion-icon name="notifications" item-start large></ion-icon>
          <p>{{ language.business_hours }}：{{StoreItem.working}}</p>
        </ion-item>
        <ion-item class="one-item">
          <ion-icon name="phone-portrait" item-start large></ion-icon>
          <p>{{language.contact_number}}： <span tappable (click)="toPhone(StoreItem.contactPhone)">{{StoreItem.contactPhone}}</span></p>
        </ion-item>
        <ion-row>
          <ion-col>
            <button (click)="liek()" tappable  ion-button icon-start clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{StoreItem.likeNum}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button tappable (click)="addEnshrine()" [ngClass]="{'divActive':isCollect}" ion-button icon-start clear
              small>
              <ion-icon name="star"></ion-icon>
              <div>{{StoreItem.favoriteCount}}</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <button ion-button icon-start clear small>
              <ion-icon name="paper-plane"></ion-icon>
              <div>{{StoreItem.distance}}</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <div class="stop-list" *ngIf="storeList">
      <cargo-list [content]="storeList"></cargo-list>
    </div>
  </div>
  <!-- 分类部分 -->
  <div class="calssify-section" *ngIf="sectionType == 'classify'">
    <div class="classify-wrapper" *ngIf="selfCategoryLists">
      <div class="classify-item" *ngFor="let selfCategory of selfCategoryLists">
        <div class="classify-item-div" *ngIf="selfCategory.categorys.length">
          <div class="classify-title">{{selfCategory.spaceName}}</div>
          <div class="item">
            <ion-row>
              <ion-col col-3 *ngFor="let categoryItem of selfCategory.categorys" (click)="selectCategory(categoryItem.categoryId)" tappable>
                <button ion-button outline>{{categoryItem.categoryName}}</button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </div>
    <div class="no-data" *ngIf="!selfCategoryLists">
      {{language.no_data}}
    </div>
  </div>
</ion-content>
<!-- 遮罩 -->
<div tappable (click)="shadeClick()" [ngClass]="{'shade-active':isShowNav,'unit-body-shade':true}" *ngIf="categoryLists"></div>
<ion-footer no-border>
  <ion-toolbar class="brand-tabs">
    <ion-segment mode="md" [(ngModel)]="sectionType">
      <ion-segment-button value="nav" (ionSelect)="changeSection('nav')">
       {{language.nav_title}}
      </ion-segment-button>
      <ion-segment-button value="classify" (ionSelect)="changeSection('classify')">
        {{language.classify_title}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <!-- 导航列表 -->
  <div class="nav-list" [ngClass]="{'transition-pop':isShowNav&&categoryLists,'nav-list':true}">
    <div *ngFor="let item of categoryLists;let i = index" tappable (click)="switchGoods(item.id,i)" [ngClass]="{'active':initNavIndex==i}">{{item.categoryName}}</div>
  </div>
</ion-footer>
