page-find-details {
  .scroll-content {
    background-color: $gray-color;

  }

  .find-detail-wrapper {
    .content {
      padding: 1rem;
      color: #666;
      background-color: #fff;

      * {
        overflow: hidden!important;
        white-space: normal!important;
        padding: 0!important;
        margin: 0!important;
        width: 100%!important;
        text-indent:0!important;
      }
      img {
        height: auto!important;
      }
    }
  }


  .findDeails_list {
    // background-color: $gray-color;
  }
}
